[Unit]
Description=app2

[Service]
Type=simple
Restart=always
Requires=network-online.target
RestartSec=2s
ExecStart=/home/filip/apps/app2/app2

[Install]
WantedBy=multi-user.target